<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FeasibleFootballLeagueRankings.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D2ECF015195C96860047C831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2ECF033195C9B6E0047C831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2ECF044195C9B6E0047C831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2ECF05C195C9CAB0047C831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2ECF06E195C9D200047C831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
